<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project Manager</a>
    </div>
    <ul class="nav navbar-nav navbar-right">    
      <li><a routerLink="/addproject" routerLinkActive="active">Add Project</a></li>
      <li><a routerLink="/addtask" routerLinkActive="active">Add Task</a></li>
      <li><a routerLink="/adduser" routerLinkActive="active">Add User</a></li>
      <li><a routerLink="/viewtask" routerLinkActive="active">View Task</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>