<p-growl [(value)]="msgs" [life]="3000" [sticky]="false"></p-growl>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">New Project</h3>
            </div>
            <div class="panel-body">
                <form [formGroup]="addProjectForm" (ngSubmit)="addProjectSubmit()" novalidate>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-4" for="firstName">Project:</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="projectName" placeholder="Project Name" name="projectNameControl" formControlName="projectNameControl">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div *ngIf="(addProjectForm.controls.projectNameControl.touched && !addProjectForm.controls.projectNameControl.valid)">
                                <span class="glyphicon glyphicon-info-sign text-danger" aria-hidden="true" style="display:inline;"></span>
                                <p class="text-danger" style="display:inline;">This is a required field</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-6">
                            <div class="checkbox checkbox-padding">
                                <label>
                                    <input type="checkbox" value="" name="checkDatesControl" formControlName="checkDatesControl">Set Start and End Date
                                </label>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row" *ngIf="addProjectForm.controls.checkDatesControl.value">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                                <label class="control-label col-sm-4" for="endDate">Start Date:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                        <p-calendar  name="startDateControl"   formControlName="startDateControl" [showIcon]="true"></p-calendar>                                        
                                </div>                   
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="addProjectForm.controls.checkDatesControl.value">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-4" for="endDate">End Date:</label>
                            <div class="col-md-8">                  
                                <div class="input-group">
                                        <p-calendar  name="endDateControl"  formControlName="endDateControl"   [showIcon]="true"></p-calendar>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                           
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-4">Priority:</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <h4 class="middleVert1">0</h4>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="middleVert"></div>
                                        <p-slider formControlName="priorityControl" [min]="0" [max]="30" [step]="1" [style]="{'width':'200px'}"></p-slider>
                                    </div>
                                    <div class="col-sm-1">
                                        <h4 class="middleVert1">30</h4>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-control" readonly name="priorityDisplayControl" formControlName="priorityDisplayControl" value="{{addProjectForm.controls.priorityControl.value}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div *ngIf="(addProjectForm.controls.priorityControl.touched && !addProjectForm.controls.priorityControl.valid)">
                                    <span class="glyphicon glyphicon-info-sign text-danger" aria-hidden="true" style="display:inline;"></span>
                                    <p class="text-danger" style="display:inline;">This is a required field</p>
                                </div>
                            </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-4" >Manager:</label>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="Assign Manager" readonly  name="selectedManager" formControlName="selectedManagerName">
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-secondary newButton" data-toggle="modal" data-target="#searchManagersModal">Search</button>
                            </div>
                        </div>
                        <div class="col-md-3"></div> 
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-md newButton" [disabled]="addProjectForm.invalid"
                                [ngClass]="{
                                    'btn-primary': addOrUpdateBtn == 'Add',
                                    'btn-primary': addOrUpdateBtn == 'Update'
                                }">{{addOrUpdateBtn}}</button>
                                <button type="button" class="btn btn-md btn-secondary newButton" (click)="addProjectReset()">Reset</button>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>                              
            </div>
        </div>

    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search/Edit Projects</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p-dataTable [value]="projectsList">                            
                            <p-column field="ProjectName" header="Project Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column field="Start_Date" header="Start Date" sortable="true" [filter]="true" filterMatchMode="contains">

                                <ng-template let-col let-project="rowData" let-ri="rowIndex" pTemplate="body">
                                    <span>{{project[col.field]|date:'dd/MM/yyyy'}}</span>
                                </ng-template>
                            </p-column>
                            <p-column field="End_Date" header="End Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                <ng-template let-col let-project="rowData" let-ri="rowIndex" pTemplate="body">
                                    <span>{{project[col.field]|date:'dd/MM/yyyy'}}</span>
                                </ng-template>
                            </p-column>
                            <p-column field="Priority" header="Priority" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column field="Manager_Name" header="Manager Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>                            
                            <p-column header="Actions">
                                <ng-template let-project="rowData"  pTemplate="body">
                                    <button type="button" class="btn btn-primary btn-sm newButton" (click)="updateProject(project)">Update</button>
                                    <button type="button" class="btn btn-primary btn-sm newButton" (click)="suspendProject(project)">Suspend</button>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Modal - Search Managers -->
    <div id="searchManagersModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Manager List</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <p-dataTable [value]="userList">
                                <p-column field="User_ID" header="User ID" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column field="First_Name" header="First Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column field="Last_Name" header="Last Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column field="Employee_ID" header="Employee ID" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column header="Action">
                                    <ng-template let-user="rowData" pTemplate="body">
                                        <button type="button" class="btn btn-primary btn-sm newButton" id="assignManager" (click)="assignManager(user.User_ID, user.First_Name + ' ' + user.Last_Name)"
                                            data-dismiss="modal">Assign</button>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    
    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd ></p-confirmDialog>
